@import "tailwindcss";
@plugin "daisyui";

@keyframes p4-marquee {
  0% { transform: translateX(-150%);}
  100% {transform: translateX(250%);}
}
.animate-p4-marquee {
  animation: p4-marquee 2.5s linear infinite;
}

#content h1 {
  @apply text-3xl font-bold text-blue-400 mb-4 mt-6;
}

#content h2 {
  @apply text-2xl font-semibold text-blue-300 mb-3 mt-5;
}

#content h3 {
  @apply text-xl font-semibold text-blue-200 mb-2 mt-4;
}

#content p {
  @apply text-base leading-relaxed text-white mb-4;
}

#content ul {
  @apply list-disc list-inside mb-4 pl-4;
}

#content ol {
  @apply list-decimal list-inside mb-4 pl-4;
}

#content a {
  @apply text-blue-400 underline hover:text-blue-300;
}

#content blockquote {
  @apply border-l-4 border-blue-400 pl-4 italic text-white/80 mb-4;
}

.scrollbar-custom {
  scrollbar-width: normal;
  scrollbar-color: #2563eb #1e293b; /* thumb: blue-600, track: slate-800 */
  transition: 0.25s ease;
}

/* Hover durumunda thumb rengini değiştir (Chromium tabanlı tarayıcılar) */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #60a5fa; /* blue-400 */
  transition: 0.25s ease;
}